.mb-0 {
  margin-bottom: 0;
}

.ma-0 {
  margin: 0;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
.my-3 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}
.my-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}
.my-5 {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-5);
}

.mt-auto {
  margin-top: auto;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: var(--spacing-1);
}
.mt-2 {
  margin-top: var(--spacing-2);
}
.mt-3 {
  margin-top: var(--spacing-3);
}
.mt-4 {
  margin-top: var(--spacing-4);
}
.mt-5 {
  margin-top: var(--spacing-5);
}

.mr-1 {
  margin-right: var(--spacing-1);
}
.mr-2 {
  margin-right: var(--spacing-2);
}
.mr-3 {
  margin-right: var(--spacing-3);
}
.mr-4 {
  margin-right: var(--spacing-4);
}
.mr-5 {
  margin-right: var(--spacing-5);
}

.mb-1 {
  margin-bottom: var(--spacing-1);
}
.mb-2 {
  margin-bottom: var(--spacing-2);
}
.mb-3 {
  margin-bottom: var(--spacing-3);
}
.mb-4 {
  margin-bottom: var(--spacing-4);
}
.mb-5 {
  margin-bottom: var(--spacing-5);
}

.ml-auto {
  margin-left: auto;
}
.ml-1 {
  margin-left: var(--spacing-1);
}
.ml-2 {
  margin-left: var(--spacing-2);
}
.ml-3 {
  margin-left: var(--spacing-3);
}
.ml-4 {
  margin-left: var(--spacing-4);
}
.ml-5 {
  margin-left: var(--spacing-5);
}

.mx-auto {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .mt-md-5 {
    margin-top: var(--spacing-5);
  }
  .my-md-5 {
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-5);
  }
  .mr-md-5 {
    margin-right: var(--spacing-5);
  }
}

@media (min-width: 994px) {
  .mr-lg-4 {
    margin-right: var(--spacing-4);
  }
}
