.text-center{
    text-align: center;
}

.text-primary {
    font-family: var(--ff-primary);
}

.text-accent {
    font-family: var(--ff-accent);
}

.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}