.float-left {
  float: left;
}

.wrapper {
  width: 100%;
  composes: float-left;
}

.fabrx-ratings:not(:checked) > input {
  display: none;
}
.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin: 5px 5px 10px 0;
  transition: all ease 0.4s;
}
.has-rating:not(:checked) > label {
  background: url(../../../assets/svg/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.has-rating:not(:checked) > label:hover {
  background: url(../../../assets/svg/star-fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.has-rating:not(:checked) > label:hover ~ label {
  background: url(../../../assets/svg/star-fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.has-rating > input:checked + label:hover,
.has-rating > input:checked ~ label:hover {
  background: url(../../../assets/svg/star-fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}
.has-rating > input:checked + label:hover ~ label,
.has-rating > input:checked ~ label:hover ~ label {
  background: url(../../../assets/svg/star-fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}
.has-rating > label:hover ~ input:checked ~ label {
  background: url(../../../assets/svg/star-fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}
.has-rating > input:checked ~ label {
  background: url(../../../assets/svg/star-fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
