.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

:global(.item-outlined) {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 3px;
  line-height: 1.5;
  text-wrap: nowrap;
}

:global(.item-circle) {
  border-radius: 50%;
}

:global(.container) {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.75em;
}

:global(.link) {
  text-decoration: none;
  color: var(--clr-neutral-900);
}
:global(.link):hover {
  color: var(--clr-primary-500);
}
:global(.link):hover svg path {
  fill: var(--clr-primary-500);
}

@media (min-width: 576px) {
  :global(.container) {
    max-width: 33.75em;
  }
}
@media (min-width: 768px) {
  :global(.container) {
    max-width: 45em;
  }
}
@media (min-width: 990px) {
  :global(.container) {
    max-width: 60em;
  }
}
@media (min-width: 1200px) {
  :global(.container) {
    max-width: 71.25em;
  }
}
